body{
    overflow-x: hidden;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    background-image: url(../img/forest2.jpg);
}
.kozep{
    align-items: center;
    text-align: center;
}
.card{
    background-color: seagreen;
}
.nav-item{
    font-size: x-large;
}
.navbar-brand{
    font-size: x-large;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
body {
    font-family: Arial, sans-serif;
}
.navbar{
    background-color: seagreen;
    text-decoration: none;
    color: white;
}
.navbar:hover{
    text-decoration: none;
    color: white;
}
.gomb{
    background-color: seagreen;
    color: white;
    text-decoration: none;
}
.gomb:hover{
    color: white;
    text-decoration: none;
    transform: scale(1.1);
}