body{
    overflow-x: hidden;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    background-image: url(../img/forest2.jpg);
}
.nav-item{
    font-size: x-large;
}
.navbar-brand{
    font-size: x-large;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
body {
    font-family: Arial, sans-serif;
}
.navbar{
    background-color: #76a153;
    text-decoration: none;
    color: white;
}
.navbar:hover{
    text-decoration: none;
    color: white;
}
.card{
    background-color: #76a153;
}
.container{
    color: black;
}
thead {
    background-color: #A3D977; 
    color: white;
}

tbody {
    background-color: #76A153; 
    color: white;
}
th, td {
    text-align: center;
    vertical-align: middle !important;
}
.table-bordered th, .table-bordered td {
    border: 1px solid white;
}
.fele {
    width: 50%;
    
    box-sizing: border-box;
}
.border-right {
    border-right: 1px solid white; 
}
.container {
    max-width: 1800px;
}
.kiemeles{
    color: white;
    font-size: x-large;
    text-decoration: none;
}